body {
  /* Use the `background` shorthand or `background-image` */
  background: linear-gradient(109.6deg, rgb(36, 53, 57) 11.2%, rgb(65, 73, 82) 51.2%, rgb(100, 37, 71) 98.6%);
  /* Ensure the body takes up the full height */
  min-height: 100vh;
  margin: 0;
  font-family: "Raleway",
}

/* Divider */
.breadcrumb-item + .breadcrumb-item::before {
  content: "/"; 
  color: #EFE1D1; 
}

.breadcrumb-item.active {
  color: #EFE1D1;
}

.breadcrumb-item a {
  color: #abf6fd;
  text-decoration: underline;
}

.breadcrumb-item a:hover {
  color: #EFE1D1; /* Change color on hover */
  text-decoration: underline; /* Optional: Add underline on hover */
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
