body {
  /* Use the `background` shorthand or `background-image` */
  background: linear-gradient(109.6deg, rgb(36, 53, 57) 11.2%, rgb(65, 73, 82) 51.2%, rgb(100, 37, 71) 98.6%);
  /* Ensure the body takes up the full height */
  min-height: 100vh;
  margin: 0;
  font-family: "Raleway",
}

/* Divider */
.breadcrumb-item + .breadcrumb-item::before {
  content: "/"; 
  color: #EFE1D1; 
}

.breadcrumb-item.active {
  color: #EFE1D1;
}

.breadcrumb-item a {
  color: #00de00;
  text-decoration: underline;
}

.breadcrumb-item a:hover {
  color: #EFE1D1;
  text-decoration: underline; 
}
