body {
  /* Use the `background` shorthand or `background-image` */
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  /* Ensure the body takes up the full height */
  min-height: 100vh;
  margin: 0;
}

/* #root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
