.job-example-card {
  /* border: 1px groove #333; */
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  transition: all 0.3s ease;
}

.job-example-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgb(214, 165, 191) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  transform: translateY(-4px);
}

.image-container {
  margin-bottom: 12px;
}

.company-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  margin: 8px 0;
}

.position {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3e3e3e;
  margin: 4px 0;
}

.application-date {
  font-size: 1rem;
  font-weight: 500;
  color: #031559;
  margin: 10px 0 4px;
  font-style: italic;
}

.details-link {
  margin-top: 12px;
}

.details-link-text {
  font-size: 1rem;
  color: #000000af;
  text-decoration: underline;
  font-weight: 600;
}

.details-link-text:hover {
  color: rgb(255, 222, 238);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.322);
}

/* styles.css */
.card-container {
  width: 100%;
  overflow: hidden;
}

.card-scroll {
  display: flex;
  white-space: nowrap;
}

.sample-course-card-div {
  background: linear-gradient(0.25turn, #dedede, #ebf8e1, #fdffb4);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
}
