.job-offcanvas-body {
  font-size: 18px;
  color: rgb(12, 58, 58);
  transition: all 0.2s ease;
}

.job-offcanvas-body:hover {
  color: rgb(140, 0, 150);
  text-decoration: none;
}

.job-desc-div {
  background-color: rgba(240, 248, 255, 0.1);
  box-shadow: 0 5px 25px rgba(255, 252, 252, 0.6);
  padding: 50px 40px;
  color: rgb(248, 232, 202);
}

.job-notes-div {
  background-color: rgba(70, 115, 122, 0.775);
  box-shadow: 0 5px 25px rgba(255, 252, 252, 0.6);
  padding: 50px 40px;
  color: rgb(210, 255, 248);
}

.fancy-circle-div {
  background: linear-gradient(
    100deg,
    rgba(191, 255, 251, 0.6) 0%,
    rgba(253, 225, 255, 0.6) 100%
  );
  text-align: center;
  padding: 1vh;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(178, 178, 178, 0.47);
  transition: all 0.3s ease;
}

.fancy-circle-div:hover {
  transform: translateY(-2px);
}

.fancy-circle-title {
  font-weight: 700;
  font-size: 20px;
  color: rgb(4, 67, 82);
}

.nav-item {
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
}

.active-nav-item {
  background-color: black !important;
  color: rgb(166, 166, 166) !important;
  box-shadow: 0 0 0 1px rgb(0, 0, 0) !important;
}

.nav-tabs .nav-link {
  border-color: rgb(0, 0, 0);
  color: rgb(166, 166, 166) !important;
}

.nav-tabs .nav-link.active {
  border-color: rgba(0, 0, 0, 0);
  color: #00de00 !important;
  border-bottom-color: #00de00;
  font-weight: 700;
}

.create-job-form-div {
  margin: 50px auto 10px;
  max-width: 800px;
  padding: 0 10px;
}

@media (max-width: 900px) {
  .create-job-form-div {
    max-width: 500px;
  }
}

.create-job-form-div input {
  background-color: rgba(221, 254, 255, 0.783);
  font-size: medium;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height: 5vh;
  border-radius: 20px;
}

.create-job-form-div textarea {
  background-color: rgba(221, 254, 255, 0.783);
  border-radius: 20px;
}

/* .job-form-input:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
} */

.job-search-input {
  background-color: rgb(249, 226, 239);
  height: 50px;
  border-radius: 15px;
}

