.job-form-input {
  background-color: rgb(211, 235, 233);
  font-size: medium;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height: 5vh;
  border-radius: 17px;
}

.job-form-input:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.job-offcanvas-body {
  font-size: 18px;
  color: rgb(12, 58, 58);
  transition: all 0.2s ease;
}

.job-offcanvas-body:hover {
  color: rgb(140, 0, 150);
  text-decoration: none;
}

.job-desc-div {
  background-color: rgba(240, 248, 255, 0.1);
  box-shadow: 0 5px 25px rgba(255, 252, 252, 0.6);
  padding: 18px 50px;
  color: rgb(248, 232, 202);
}

.fancy-circle-div {
  background: linear-gradient(
    100deg,
    rgba(191, 255, 251, 0.6) 0%,
    rgba(253, 225, 255, 0.6) 100%
  );
  text-align: center;
  padding: 1vh;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(178, 178, 178, 0.47);
  transition: all 0.3s ease;
}

.fancy-circle-div:hover {
  transform: translateY(-4px);
}

.fancy-circle-title {
  font-weight: 700;
  font-size: 20px;
  color: rgb(4, 67, 82);
}
